{% extends 'base.html'%} {% block content %}




<div class="container">
    <h2 class="text-center">Регистрация</h2>
    <form action="{% url 'register' %}" method="post">
        <fieldset>
            {% csrf_token %} 
    {% for field in form %}
        <div class="mb-3" class="mx-auto p-2">
        {{ field.label_tag }} {{ field }} 
            {% if field.errors %}
            <div class="text-danger">
                {% for error in field.errors %}
                <div>{{error}}</div>
                {% endfor %}
              </div>
            {% endif %}
        </div>
    
        {% endfor %} 
        {% if form.errors %}
        <div class="text-danger">
        {% for error in field.errors %}
            {{error}}
        {% endfor %}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button></fieldset>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>








{% endblock %}